[submodule "third_party/opentelemetry-cpp"]
	path = third_party/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "third_party/clickhouse-cpp"]
	path = third_party/clickhouse-cpp
	url = https://github.com/ClickHouse/clickhouse-cpp.git
[submodule "third_party/nats-cpp"]
	path = third_party/nats-cpp
	url = https://github.com/hurdad/nats-cpp.git
